{% extends 'base.html' %}
{% block content %}
	{% if request.user.is_authenticated %}
		<!-- {% if request.user.is_superuser %}
		<h2><a href="{% url 'admin_requisitions_recovery' %}">Restore</a></h2>
		{% endif %} -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Tickets</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="#">Home <span class="sr-only">Hola, {{ request.user }}</span></a>
					<a class="nav-item nav-link" href="{% url 'logout' %}">Salir</a>
				</div>
			</div>
		</nav>
		<form type="get" action="." style="margin: 0">
			<input  id="search_box" type="text" name="search_box"  placeholder="Buscar..." >
			<button id="search_submit" type="submit" >Buscar</button>
			<button id="clean" type="clean" >Limpiar</button>
		</form>

		{% if request.user.is_superuser %}
		<h3><a href="{% url 'create_requisitions' %}">Crear Ticket</a><br></h3>
		{% endif %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Estado</th>
					<th>Titulo</th>
					<th>Descripcion</th>
					<th>Fecha Creacion</th>
				</tr>
			</thead>
			<tbody>
				{% for requisitions in requisitions_list %}
					<tr>
						<td>{{ requisitions.id }}</td>
						<td>{{ requisitions.status }}</td>
						<td>{{ requisitions.title }}</td>
						<td>{{ requisitions.text }}</td>
						<td>{{ requisitions.creationDate }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
			
	{% else %}
	<div class="indexTable">
		<div><h1>Tickets</h1></div>
		<div><a href="{% url 'registration' %}"><h3>Regitrarse</h3></a></div>
		<div><a href="{% url 'login' %}"><h3>login</h3></a></div>
	</div>
	{% endif %}

{% endblock %}
